django
gunicorn
djangorestframework
djangorestframework-simplejwt
markdown
django-filter
django-environ
django-cors-headers
dj-database-url
drf-spectacular
psycopg2
psycopg[binary]
drf-writable-nested
drf-nested-routers
django-storages[azure]
flake8
black
